.error {
    margin: 0 auto;
    width: 400px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background: #fff;
    border-radius: 6px;
    border: none;
    margin-top: 150px;
}