.btn {
    position: relative;
    display: block;
    cursor: pointer;
    background: #9F0013;
    border: none;
    color: #fff;
    text-transform: uppercase;
    transition: 0.2s all;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    &:hover {
        transition: 0.2s all;
        background: #7D0C07;
        &:after {
            transition: 0.2s all;
            border-right: 10px solid #7D0C07;
        }
        &:before {
            transition: 0.2s all;
            border-left: 10px solid #7D0C07;
        }
    }
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        border-top: 10px solid #fff;
        border-right: 10px solid #9F0013;
        transition: 0.2s all;
    }
    &::before {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        border-bottom: 10px solid #fff;
        border-left: 10px solid #9F0013;
        transition: 0.2s all;
    }

    &_grey {
        background: #5C5C5C;
        &:hover {
            background: #353535;
            &::after {
                border-right: 10px solid #353535;
            }
            &::before {
                border-left: 10px solid #353535;
            }
        } 
        &:after {
            border-right: 10px solid #5C5C5C;
        }
        &:before {
            border-left: 10px solid #5C5C5C;
        }
    }

    &_random-box-static {
        width: 101px;
        height: 38px;
        margin-top: 13px;
        margin-left: 40px;
        &:after {
            border-top: 10px solid #232222;
        }
        &:before {
            border-bottom: 10px solid #232222;
        }
    }
    &_random-box-dinamic {
        width: 101px;
        height: 38px;
        margin-top: 13px;
    }
}

@media (max-width: 991px) {
    .btn {
        &:after {
            border-top: 10px solid #fff;
            border-right: 10px solid #9F0013;
        }
        &:before {
            border-bottom: 10px solid #fff;
            border-left: 10px solid #9F0013;
        }
        &:hover {
            background: #9F0013;
            &:after {
                border-right: #9F0013;
            }
            &:before {
                border-left: #9F0013;
            }
        }
        &:active {
            transition: 0.2s all;
            background: #7D0C07;
            &:after {
                transition: 0.2s all;
                border-right: 10px solid #7D0C07;
            }
            &:before {
                transition: 0.2s all;
                border-left: 10px solid #7D0C07;
            }
        }
        &_grey {
            &:after {
                border-top: 10px solid #fff;
                border-right: 10px solid #5C5C5C;
            }
            &:before {
                border-bottom: 10px solid #fff;
                border-left: 10px solid #5C5C5C;
            }
            &:hover {
                transition: none;
                background: #5C5C5C;
                &:after {
                    transition: none;
                    border-right: #5C5C5C;
                }
                &:before {
                    transition: none;
                    border-left: #5C5C5C;
                }
            }
            &:active {
                transition: 0.2s all;
                background: #353535;
                &:after {
                    transition: 0.2s all;
                    border-right: 10px solid #353535;
                }
                &:before {
                    transition: 0.2s all;
                    border-left: 10px solid #353535;
                }
            }
        }
        &_random-box-static {
            &:after {
                border-top: 10px solid #232222;
            }
            &:before {
                border-bottom: 10px solid #232222;
            }
        }
    }
}

@media(max-width: 767px) {
    .btn {
        &_random-box-dinamic {
            width: 65px;
            height: 30px;
            font-size: 12px;
        }
        &_random-box-static {
            width: 65px;
            height: 30px;
            font-size: 12px;
        }
    }
}

@media(max-width: 575px) {
    .btn {
        &_random-box-dinamic {
            width: 65px;
            height: 30px;
            font-size: 12px;
            margin-top: 0;
        }
        &_random-box-static {
            width: 65px;
            height: 30px;
            font-size: 12px;
        }
    }
}
