.list-items-box {
    display: grid;
    grid-template-columns: 1fr 0.6fr;
    column-gap: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    position: relative;
    &__no-grid {
        display: block;
    }
    &__spinner {
        display: flex;
        justify-content: center;
    }
    &__items {
        display: grid;
        // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        column-gap: 25px;
        row-gap: 30px;
        margin-top: 25px;
        list-style-type: none;
        &_three-columns {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            li {
                transition: 0.2s all;
                min-height: 318px;
                padding-bottom: 10px;
            }
        }
        &_two-columns {
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            li {
                transition: 0.2s all;
                min-height: 500px;
                padding-bottom: 10px;
            }
        }
    }
    &__item {
        display: block;
        width: 100%;
        background: #232222;
        color: #fff;
        transition: 0.2s all;
        cursor: pointer;
        filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.4));
        &:hover {
            transform: translateY(-3%);
            transition: 0.2s all;
            filter: drop-shadow(0px 5px 20px #9F0013);
        }
    }
    &__img {
        display: block;
        width: 100%;
        overflow: hidden;
    }
    &__field-name {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 22px;
        margin-top: 15px;
        margin-left: 15px;
    }
    &__footer-bg {
        position: absolute;
        right: 0px;
        bottom: 0px;
        width: 370px;
        z-index: 2;
    }
}

@media (max-width: 1160px) {
    .list-items-box {
        &__items {
            &_three-columns {
                grid-template-columns: repeat(auto-fit,minmax(165px,1fr));
                li {
                    min-height: 250px;
                }
            }
            &_two-columns {
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                li {
                    min-height: 444px;
                }
            }
        }
        &__field-name {
            font-size: 18px;
        }
    }
}

@media (max-width: 991px) {
    .list-items-box {
        &__item {
            &:hover {
                transform: none;
                transition: none;
                filter: none;
            }
            &:active {
                transform: translateY(-3%);
                transition: 0.2s all;
                filter: drop-shadow(0px 5px 20px #9F0013);
            }
        }
        &__items {
            &_three-columns {
                grid-template-columns: repeat(auto-fit,minmax(130px, 1fr));
                li {
                    min-height: 200px;
                }
            }
            &_two-columns {
                grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
                li {
                    min-height: 270px;
                }
            }
        }
        &__field-name {
            font-size: 14px;
        }
        &__footer-bg {
            width: 185px;
        }
    }
}

@media(max-width: 767px) {
    .list-items-box {
        &__items {
            &_two-columns {
                grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
                li {
                    min-height: 160px;
                }
            }
            &_one-columns {
                grid-template-columns: repeat(auto-fit, 200px);
                justify-content: center;
                li {
                    min-height: 250px;
                }
            }
        }
    }
}

@media(max-width: 575px) {
    .list-items-box {
        grid-template-columns: 1fr;
        position: static;
        &__footer-bg {
            display: none;
        }
    }
}